
@import "variables";

@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "footer";

body, html {
  height: 100%;
}

@mixin margin-bottom($number, $leading) {
  margin-bottom: #{$number * $leading + 'rem'};
}

section {
  @include outer-container;
  @include pad();
}

.flex {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  @include media($large-screen) {
    @include flex-direction(row);
    @include justify-content(flex-start);
  }

  > div {
    @include pad();
  }
}

.flex-space-between {
  @include justify-content(space-between);
}

.flex-center {
  @include justify-content(center);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.content-panel {
  background-color: $panel-color;
}

#heading {
  text-align: center;

  .title {
    @include media($large-screen) {
      @include span-columns(6);
    }

    h1 {
      @include margin-bottom(3, $heading-line-height);
    }

    h2 {
      font-size: 2.2rem;
      @include margin-bottom(1, $heading-line-height);

      span {
        color: $red;
      }
    }
  }

  .about {
    @include media($large-screen) {
      @include shift(2);
      @include span-columns(4);
    }
  }

  i {
    display: inline-block;
    transform: rotate(-10deg);
    font-size: 1.7rem;
    font-weight: bold;
  }
}

#clients, #photos {

  img {
    margin: 1rem 2rem;
  }
}

#clients img {
  max-height: 5rem;
}

#photos img {
  max-height: 8rem;
}

#contact {

  img {
    margin-right: 1rem;
  }
}

.hire-me {
  margin: 1rem 0;
  text-align: center;

  a {
    @extend .button;
  }
}
